* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  font-family: sans-serif;
  height: 100vh;
  background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)),
    url(pexels-khoa-võ-5192032.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.main .login-box {
  width: 320px;
  height: 420px;
  padding: 70px 30px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}

.main .logo {
  color: #fff;
  font-size: 22px;
  padding: 40px;
  line-height: 1;
}

.main .logo i {
  color: #fff;
  font-size: 30px;
}

.main .login-box .icon-box {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .login-box .icon-box i {
  color: #fff;
  font-size: 45px;
}

.main .login-box h2 {
  color: #fff;
  text-align: center;
  font-size: 22px;
  margin-bottom: 30px;
}

.main .login-box form label {
  color: #fff;
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
}

.main .login-box form input {
  width: 100%;
  height: 30px;
}

.main .login-box form input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  background: transparent;
  outline: none;
}

.main .login-box form input[type="submit"] {
  background-color: red;
  color: #fff;
  height: 40px;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.main .login-box form input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.main .login-box form a {
  color: darkgrey;
  display: block;
  text-decoration: none;
  font-size: 12px;
  line-height: 25px;
}

.main .login-box form a:hover {
  color: #ffc107;
}
